body {
	background-color: lightgreen;
	margin: 0;
	width: 80%;
}

.container {
	/* width: 80%; */
	margin: 0 auto;
	/* max-width: 900px; */
}

.content {
	float: left;
	width: 70%;
}
.side-bar {
	float: right;
	background-color: orange;
	width: 25%;
}

header {
	background-color: brown;
	text-align: center;
	padding: 50px 0;
	color: #fff;
}

footer {
	background-color: gray;
	clear: both;
	text-align: center;
	/* width: 70%; */
	padding: 20px 0;
}
