.container {
    display: flex;
    margin: 1%;
    /* background: white; */
    /* flex-direction: column; */
    justify-content: space-around;
    /* float: right; */
    align-items: center;
    height: 300px;
    border: 1px solid blue;
}