/* 
Colors:

light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #777;
    padding: 2%;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            rgba(126, 213, 111, 0.5),
            rgba(40, 180, 133, 0.5)),
        url(https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
}